{%extends 'base.html'%}

{% block head %}

<title>Admin Register</title>

{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
<body>
    <section>
        <div class="Registercont">
            <div class="Registerbox">
                <br><br><br><br><br>
                <h2>Create Account</h2>
                <br>
                <form method="POST">
                    <!-- protect from hacker attack -->
                    {{ form.hidden_tag() }}
                    <div class="inputbox">
                        <span>Admin Username</span>
                        {{form.username(class="form-control")}}
                    </div>
                    <div class="inputbox">
                        <span>Admin email</span>
                        {{ form.email(class="form-control") }}
                    </div>
                    <div class="inputbox">
                        <span>Employee code</span>
                        {{ form.employeecode(class="form-control") }}
                    </div>
                    <div class="inputbox">
                        <span>Create Password</span>
                        {{form.password1(class="form-control")}}
                    <div>
                    <br>
                    <div class="inputbox">
                       <span>Confirm Password</span>
                        {{form.password2(class="form-control")}}
                    </div>
                    <div class="inputbox">
                        {{form.submit(class="btn btn-lg btn-block btn-primary")}}
                    </div>
                    <br>
                    <div class="inputbox">
                        <p>Already have an account? <a href="{{ url_for('adminlogin_page') }}">Log in as Admin</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
{% endblock %}
{% block footer %}

{% endblock %}
