{%extends 'base.html'%}

{% block head %}

<title>Admin Login</title>

{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
<body>
    <section>
        <div class="Registercont">
            <div class="Registerbox">
                <h2>Login</h2>
                <br>
                <form method="POST">
                    <!-- protect from hacker attack -->
                    {{ form.hidden_tag() }}
                    <div class="inputbox">
                        <span>Admin Username</span>
                        {{form.username(class="form-control")}}
                    </div>
                    <div class="inputbox">
                        <span>Admin Password</span>
                        {{form.password(class="form-control")}}
                    <div>
                        <br>
                        <br>
                    <div class="inputbox">
                        {{form.submit(class="btn btn-lg btn-block btn-primary")}}
                    </div>
                        <br>
                    <div class="inputbox">
                        <p>Don't have an account? <a href="{{ url_for('adminregister') }}">Register as Admin</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
{% endblock %}
{% block footer %}

{% endblock %}
