{%extends 'base.html'%}

{% block head %}

<title>ENVY</title>

{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
<body>
    <div class="options">
        <p>Choose your preferred model:</p>
    </div>
    <div class="frame5">
        <h2 style="font-size:37px">ENVY 14"</h2>
        <a href="{{ url_for('Envy14inch_page') }}"><img src="../static/css/images/hpenvyad.png" alt="envy14" style="width:530.3px;padding-left:85px;margin-top:50px;"></a>
        <p style="text-align: center;margin-top:40px;font-size: 30px;font-family:'Poppins', sans-serif;font-weight:300;">Starts at $749 tax inclusive*</p>
    </div>
    <br>
    <br>
    <br>
    <div class="frame5">
        <h2 style="font-size:37px">ENVY 15"</h2>
        <a href="{{ url_for('Envy15inch_page') }}"><img src="../static/css/images/hpenvyad.png" alt="envy15" style="width:530.3px;padding-left:85px;margin-top:50px"></a>
        <p style="text-align: center;margin-top:40px;font-size: 30px;font-family:'Poppins', sans-serif;font-weight:300;">Starts at $1299 tax inclusive*</p>
    </div>
    <br>
    <br>
    <br>
</body>
{% endblock %}

{% block footer %}

{% endblock %}