{%extends 'base.html'%}

{% block head %}

<title>Beats Studio Wireless</title>

{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
<body>
    <div class="shopiphone">
        <img src="../static/css/images/beatsbydrelogo2.png" alt="beatslogo" style="width:65px;"> 
        <p>Shop Beats Studio<sup>3</sup> Wireless</p>
    </div>
    <h1 style=" font-family:'Poppins', sans-serif; text-align:center;margin-top: 40px;margin-bottom: 20px;">Comes in 6 colors</h1>
   <br>
   <br>
   <br>
   <div style="box-sizing: border-box;">
        <div class="row5">
            <div class="column5">
                <img src="../static/css/images/beatsstudioblack.png" alt="studioblack" style="max-width:100%;height:auto;">
                <p style="margin-top:20px;font-family:'Poppins',sans-serif;font-weight:600;font-size:18px;">MATTE BLACK</p>
            </div>
            <div class="column5">
                <img src="../static/css/images/beatsstudioblue.png" alt="studioblue" style="max-width:100%;height:auto;">
                <p style="margin-top:20px;font-family:'Poppins',sans-serif;font-weight:600;font-size:18px;">BLUE</p>
            </div>
            <div class="column5">
                <img src="../static/css/images/beatsstudiored.png" alt="studiored" style="max-width:100%;height:auto;">
                <p style="margin-top:20px;font-family:'Poppins',sans-serif;font-weight:600;font-size:18px;">RED</p>
            </div>
        </div>
    </div>
    <br>
    <div style="box-sizing: border-box;">
        <div class="row5">
            <div class="column5">
                <img src="../static/css/images/beatsstudiowhite.png" alt="studiowhite" style="max-width:100%;height:auto;">
                <p style="margin-top:20px;font-family:'Poppins',sans-serif;font-weight:600;font-size:18px;">WHITE</p>
            </div>
            <div class="column5">
                <img src="../static/css/images/beatsstudiomidnightblack.png" alt="studiomidnight" style="max-width:100%;height:auto;">
                <p style="margin-top:20px;font-family:'Poppins',sans-serif;font-weight:600;font-size:18px;">MIDNIGHT BLACK</p>
            </div>
            <div class="column5">
                <img src="../static/css/images/beatsstudioshadowgrey.png" alt="studiogray" style="max-width:100%;height:auto;">
                <p style="margin-top:20px;font-family:'Poppins',sans-serif;font-weight:600;font-size:18px;">SHADOW GRAY</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <h3 style="text-align:center;font-family:'Poppins', sans-serif;font-size:45px;">NOISE CANCELLING WIRELESS HEADPHONES</h3>
    <p style="text-align:center;font-size:20px;font-family:'Poppins', sans-serif;font-weight:300">Active Noise Cancelling(ANC)<br>
        Apple W1 Chip & Class 1 Wireless Bluetooth®<br>Up to 22 hours listening time<br>On-ear controls</p>
    <form method="POST" class="phonedescript2">
        <h3>Choose your finish:</h3>
        <input type="radio" id="colorspeak1" name="studiocolor" value="Matteblack">
        <label for="Matteblack">Matte Black</label>
        <input type="radio" id="colorspeak2" name="studiocolor" value="Blue">
        <label for="Blue">Blue</label>
        <input type="radio" id="colorspeak3" name="studiocolor" value="Red">
        <label for="Red">Red</label>
        <input type="radio" id="colorspeak4" name="studiocolor" value="White">
        <label for="White">White</label>
        <input type="radio" id="colorspeak5" name="studiocolor" value="Midnightblack">
        <label for="Midnightblack">Midnight Black</label>
        <input type="radio" id="colorspeak6" name="studiocolor" value="Shadowgray">
        <label for="Shadowgray">Shadow Gray</label>
        <h3>From $349 tax inclusive*</h3>
        <input type="submit" value="SUBMIT">
    </form>
</body>
{% endblock %}

{% block footer %}

{% endblock %}