{%extends 'base.html'%}

{% block head %}

<title>QuietComfort® 35 II Gaming Headset</title>

{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
<body>
    <div class="shopiphone">
        <p>Shop QuietComfort® 35 II Gaming Headset​</p>
    </div>
    <h1 style=" font-family:'Poppins', sans-serif; text-align:center;margin-top: 40px;margin-bottom: 20px;">Comes in 1 color</h1>
    <br>
    <br>
    <br>
    <div>
       <img src="../static/css/images/bosegaminghead.png" alt="bosegaming" style="max-width:600px;width:50%;height:auto;margin-left:auto;margin-right:auto;display:block;">
       <p style="text-align:center;margin-top:20px;font-family:'Poppins',sans-serif;font-weight:600;font-size:23px;">TRIPLE BLACK COPPER</p>
    </div>
    <br>
    <br>
    <h3 style="text-align:center;font-family:'Poppins', sans-serif;font-size:45px;">#QuietComfort® 35 II Gaming Headset</h3>
    <ul style="list-style-type: none;">
        <li>
            <p style="text-align:center;font-size:20px;font-family:'Poppins', sans-serif;font-weight:300">With noise cancelling technology and a detachable gaming module</p>
        </li>
        <li>
            <p style="text-align:center;font-size:20px;font-family:'Poppins', sans-serif;font-weight:300"> As the only gaming headset with Acoustic Noise Cancelling™ technology, the QC35 II Gaming Headset <br>
                uses a combination of patented active and passive noise cancellation innovations</p>
        </li>
        <li>
            <p style="text-align:center;font-size:20px;font-family:'Poppins', sans-serif;font-weight:300">Fully compatible with all major gaming platforms including PC, consoles and mobile devices</p>
        </li>
        <li>
            <p style="text-align:center;font-size:20px;font-family:'Poppins', sans-serif;font-weight:300"> Volume-Optimized Active EQ automatically boosts the lows and highs so the music, videos and voices<br>
            you’re listening to remain consistently balanced whether you’re in a quiet room or a busy street</p>
        </li>
        <li>
            <p style="text-align:center;font-size:20px;font-family:'Poppins', sans-serif;font-weight:300">With three settings for noise cancellation available in wireless lifestyle mode — off, low and high</p>
        </li>
        <li>
            <p style="text-align:center;font-size:20px;font-family:'Poppins', sans-serif;font-weight:300"> The removable gaming module attaches in seconds and is equipped with a Discord and TeamSpeak-certified<br>
                boom mic that’s designed to reject noise and ensure your teammates can hear you loud and clear</p>
        </li>
        <li>
            <p style="text-align:center;font-size:20px;font-family:'Poppins', sans-serif;font-weight:300">Comes with an optional PC desktop controller — giving you fluid control to lower or raise<br>
            the master volume and cycle through four levels of mic monitoring</p>
        </li>
        <li>
            <p style="text-align:center;font-size:20px;font-family:'Poppins', sans-serif;font-weight:300"> Up to 40 hours playing time of battery life in wired gaming mode and up to 20 hours in wireless lifestyle mode</p>
        </li>
        <li>
            <p style="text-align:center;font-size:20px;font-family:'Poppins', sans-serif;font-weight:300">15 minutes Quick-charge - Up to 5 hours more for wired gaming<br>
            and up to 2.5 hours more in wireless lifestyle mode</p>
        </li>
    </ul>
    <br>
    <form method="POST" class="phonedescript2">
        <h3>From $329 tax inclusive*</h3>
        <input type="submit" value="SUBMIT">
    </form>
</body>
{% endblock %}

{% block footer %}

{% endblock %}