{%extends 'base.html'%}

{% block head %}

<title>JBL TUNE 205BT</title>

{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
<body>
    <div class="shopiphone">
        <p>Shop JBL TUNE 205BT</p>
    </div>
    <h1 style=" font-family:'Poppins', sans-serif; text-align:center;margin-top: 40px;margin-bottom: 20px;">Comes in 4 colors</h1>
   <br>
   <br>
   <br>
   <div style="box-sizing: border-box;">
        <div class="row6">
            <div class="column6">
                <img src="../static/css/images/jbltune205black.png" alt="j205black" style="max-width:100%;height:auto;">
                <p style="margin-top:0px;font-family:'Poppins',sans-serif;font-weight:600;font-size:23px;">BLACK</p>
            </div>
            <div class="column6">
                <img src="../static/css/images/jbl460205gold.png" alt="j205gold" style="max-width:100%;height:auto;">
                <p style="margin-top:0px;font-family:'Poppins',sans-serif;font-weight:600;font-size:23px;">GOLD</p>
            </div>
        </div>
        <div class="row6">
            <div class="column6">
                <img src="../static/css/images/jbltune205blue.png" alt="j205blue" style="max-width:100%;height:auto;">
                <p style="margin-top:0px;font-family:'Poppins',sans-serif;font-weight:600;font-size:23px;">BLUE</p>
            </div>
            <div class="column6">
                <img src="../static/css/images/jbltune205white.png" alt="j205white" style="max-width:100%;height:auto;">
                <p style="margin-top:0px;font-family:'Poppins',sans-serif;font-weight:600;font-size:23px;">WHITE</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <h3 style="text-align:center;font-family:'Poppins', sans-serif;font-size:45px;">WIRELESS EARBUD HEADPHONES</h3>
    <p style="text-align:center;font-size:20px;font-family:'Poppins', sans-serif;font-weight:300">Control your sound and manage calls from your headphones with<br>the convenient three-button remote with microphone<br>
    Enjoy music and take calls for up to 6 hours<br>Get a full recharge in 2 hours<br>Speed Charging time of 2 hours<br>Manage calls with buttons on the ear-cup</p>
    <br>
    <form method="POST" class="phonedescript2">
        <h3>Choose your finish:</h3>
        <input type="radio" id="colorspeak1" name="j205color" value="Black">
        <label for="Black">Black</label>
        <input type="radio" id="colorspeak2" name="j205color" value="Gold">
        <label for="Gold">Gold</label>
        <input type="radio" id="colorspeak3" name="j205color" value="Blue">
        <label for="Blue">Blue</label>
        <input type="radio" id="colorspeak4" name="j205color" value="White">
        <label for="White">White</label>
        <h3>From $39 tax inclusive*</h3>
        <input type="submit" value="SUBMIT">
    </form>
</body>
{% endblock %}

{% block footer %}

{% endblock %}