{%extends 'base.html'%}

{% block head %}

<title>JBL Quantum 300</title>

{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
<body>
    <div class="shopiphone">
        <p>Shop JBL Quantum 300​</p>
    </div>
    <h1 style=" font-family:'Poppins', sans-serif; text-align:center;margin-top: 40px;margin-bottom: 20px;">Comes in 1 color</h1>
    <br>
    <br>
    <br>
    <div>
       <img src="../static/css/images/jblquantum300.png" alt=jblgaming" style="max-width:700px;width:50%;height:auto;margin-left:auto;margin-right:auto;display:block;">
       <p style="text-align:center;margin-top:20px;font-family:'Poppins',sans-serif;font-weight:600;font-size:23px;">BLACK</p>
    </div>
    <br>
    <br>
    <h3 style="text-align:center;font-family:'Poppins', sans-serif;font-size:45px;">HYBRID WIRED OVER-EAR GAMING HEADSET <br>WITH FLIP-UP MIC</h3>
    <p style="text-align:center;font-size:20px;font-family:'Poppins', sans-serif;font-weight:300">With JBL QuantumSURROUND™ powered by the JBL QuantumENGINE PC software which creates<br> an incredibly realistic spatial soundstage 
        for cinematic levels of<br> immersion and a true audio edge over the competition<br>Detachable cushions make the headsets easy to clean<br>JBL Quantum 300 headset is compatible via a 3.5mm jack with PC, Playstation, Xbox,<br>
        Nintendo Switch, Mobile, Mac and VR<br>You can also use 3.5mm jack to USB converter cable to use the headset via <br>USB on PC, Playstation, Nintendo Switch and Mac<br>A flip-up ,voice focus boom mic keeps the communication flowing with both allies and enemies</p>
    <br>
    <form method="POST" class="phonedescript2">
        <h3>From $80 tax inclusive*</h3>
        <input type="submit" value="SUBMIT">
    </form>
</body>
{% endblock %}

{% block footer %}

{% endblock %}