{%extends 'base.html'%}

{% block head %}

<title>Macbook Air</title>

{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
<body>
    <div class="shopiphone">
        <p><i class="fa fa-apple"></i></p>
        <p>Shop MacBook Air</p>
    </div>
    <h1 style=" font-family:'Poppins', sans-serif; text-align:center;margin-top: 40px;margin-bottom: 20px;">Comes in 3 colors</h1>
   <br>
   <br>
   <br>
   <div style="box-sizing: border-box;">
    <div class="row5">
        <div class="column5">
            <img src="../static/css/images/macairsilver2.png" alt="airsilver" style="max-width:100%;height:auto;">
            <p style="margin-top:0px;font-family:'Poppins',sans-serif;font-weight:600;font-size:18px;">SILVER</p>
        </div>
        <div class="column5">
            <img src="../static/css/images/macairgold2.png" alt="airgold" style="max-width:100%;height:auto;">
            <p style="margin-top:0px;font-family:'Poppins',sans-serif;font-weight:600;font-size:18px;">GOLD</p>
        </div>
        <div class="column5">
            <img src="../static/css/images/macairgray2.png" alt="airgray" style="max-width:100%;height:auto;">
            <p style="margin-top:0px;font-family:'Poppins',sans-serif;font-weight:600;font-size:18px;">SPACE GRAY</p>
        </div>
    </div>
    </div>
    <br>
    <br>
    <h3 style="text-align:center;font-family:'Poppins', sans-serif;font-size:30px;">TECH SPECS</h3>
    <p style="text-align:center;font-size: 20px;font-family:'Poppins', sans-serif;font-weight:300"><span style="font-family:'Poppins', sans-serif;font-weight:500">Display</span> : Retina display with True Tone<br>
        <span style="font-family:'Poppins', sans-serif;font-weight:500">Memory</span> : 8GB unified memory<br><span style="font-family:'Poppins', sans-serif;font-weight:500">Processor</span> : Apple M1 chip with 8‑core CPU, 7‑core GPU, and 16‑core Neural Engine (256GB)<br> : Apple M1 chip with 8‑core CPU, 8‑core GPU, and 16‑core Neural Engine (512GB) <br>
        <span style="font-family:'Poppins', sans-serif;font-weight:500">Storage</span> : 256GB SSD or 512GB SSD <br><span style="font-family:'Poppins', sans-serif;font-weight:500">Connections</span> : Two Thunderbolt / USB 4 ports <br>
        <span style="font-family:'Poppins', sans-serif;font-weight:500">Additional features</span> : Magic Keyboard <br> : Touch ID <br> : Force Touch Trackpad </p>
    <form method="POST" class="phonedescript">
        <h3>Choose your finish:</h3>
        <input type="radio" id="colorlap1" name="aircolor" value="Silver">
        <label for="Silver">Silver</label>
        <input type="radio" id="colorlap2" name="aircolor" value="Gold">
        <label for="Gold">Gold</label>
        <input type="radio" id="colorlap3" name="aircolor" value="Spacegray">
        <label for="Spacegray">Space Gray</label>
        <br>
        <h3>Choose your configuration:</h3>
        <div class="appleboxes">
            <input type="radio" id="choicelap1" name="airstorage"value="256gb">
            <label for="choicelap1">Apple M1 chip with 8‑core CPU and 7‑core GPU<span><br></span>8<span id="secondtxt">GB<br></span>256<span id="secondtxt">GB<br></span>From $999 tax inclusive*</label>
            
            <input type="radio" id="choicelap2" name="airstorage"value="512gb">
            <label for="choicelap2">Apple M1 chip with 8‑core CPU and 8‑core GPU<span><br></span>8<span id="secondtxt">GB<br></span>512<span id="secondtxt">GB<br></span>From $1249 tax inclusive*</label>
        </div>
        <input type="submit" value="SUBMIT">
    </form>
    <br>
    <br>
</body>
{% endblock %}

{% block footer %}

{% endblock %}