{%extends 'base.html'%}

{% block head %}

<title>OnePlus 9</title>

{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
<body>
    <div class="shopiphone">
        <p>Shop OnePlus 9</p>
    </div>
    <h1 style=" font-family:'Poppins', sans-serif; text-align:center;margin-top: 40px;margin-bottom: 20px;">Comes in 2 colors</h1>
    <div class="slider">
        <input type="radio" name="slider" title="Astralblack" checked="checked" class="slider__nav"/>
        <input type="radio" name="slider" title="Wintermist" class="slider__nav"/>
        <div class="slider__inner">
            <div class="slider__contents">
                <h3>ASTRAL BLACK</h3>
                <img class="slider__img2" src="../static/css/images/oneplus9-black.png" alt="blackplus" style="width:480.95px;">
            </div>
            <div class="slider__contents">
                <h3>WINTER MIST</h3>
                <img class="slider__img2" src="../static/css/images/oneplus9-purple.png" alt="purpleplus" style="width:480.95px;">
            </div>
        </div>
    </div>
    <p style="text-align:center;font-size: 20px;font-family:'Poppins', sans-serif;font-weight: 300"> 120Hz Fluid Display</p>
    <form method="POST" class="phonedescript">
        <h3>Choose your finish:</h3>
        <input type="radio" id="colorbutt1" name="one9color" value="Astralblack">
        <label for="Astralblack">Astral black</label>
        <input type="radio" id="colorbutt2" name="one9color" value="Wintermist">
        <label for="Wintermist">Winter mist</label>
        <br>
        <h3>Choose your capacity:</h3>
        <div class="appleboxes">
            <input type="radio" id="choicebutt1" name="one9storage"value="128gb">
            <label for="choicebutt1">128<span id="secondtxt">GB<sup>2</sup><br></span><span id="thirdtxt">From $729 tax inclusive*</span></label>

            <input type="radio" id="choicebutt2" name="one9storage"value="256gb">
            <label for="choicebutt2">256<span id="secondtxt">GB<sup>2</sup><br></span><span id="thirdtxt">From $829 tax inclusive*</span></label>
        </div>
        <input type="submit" value="SUBMIT">
    </form>
</body>
{% endblock %}

{% block footer %}

{% endblock %}