{%extends 'base.html'%}

{% block head %}

<title>Contract Payment</title>

{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
<body>
    <h1 style="text-align:center;margin-top:20px;font-family:'Poppins', sans-serif;font-size:40px;font-weight:600">Checkout item details:</h1><br>
    <div style="text-align: center;font-family:'Poppins', sans-serif;font-weight:300;font-size:25px;">
        {{ item.devname }}<br>
        {{ item.devcolor }}<br>
        {{ item.devstorage }} Storage<br>
        ${{ item.devamount }}<br>
    </div>
    <section>
        <div class="Registercont">
            <div class="Registerbox">
                <h2>Purchase</h2>
                <br>
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="inputbox">
                        <span>Enter your names</span>
                        {{ form.names(class="form-control") }}
                    </div>
                    <br>
                    <div class="inputbox">
                        <span>Contract Password</span>
                        {{form.password(class="form-control")}}
                    <div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="inputbox">
                        {{form.submit(class="btn btn-lg btn-block btn-primary")}}
                    </div>
                    <br>
                    <div class="inputbox">
                        <p>Don't have a registered contract? <a href="{{ url_for('contractaccount_page') }}">Proceed to Register for Contract Payment</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
{% endblock %}

{% block footer %}

{% endblock %}