{%extends 'base.html'%}

{% block head %}

<title>Register</title>

{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
<body>
    <div class="hevlogo">
        <p>HEV<span>ADA</span> ELECTRONICS</p>
    </div>
    <section>
        <div class="Registercont">
            <div class="Registerbox">
                <h2>Create Account</h2>
                <br>
                <form method="POST">
                    <!-- protect from hacker attack -->
                    {{ form.hidden_tag() }}
                    <div class="inputbox">
                        <span>Username</span>
                        {{form.username(class="form-control")}}
                    </div>
                    <div class="inputbox">
                        <span>Email</span>
                        {{form.email(class="form-control")}}
                    </div>
                    <div class="inputbox">
                        <span>Password</span>
                        {{form.password1(class="form-control")}}
                    <div>
                    <div class="inputbox">
                       <span>Confirm Password</span>
                        {{form.password2(class="form-control")}}
                    </div>
                    <div class="inputbox">
                        {{form.submit(class="btn btn-lg btn-block btn-primary")}}
                    </div>
                    <br>
                    <div class="inputbox">
                        <p>Already have an account? <a href="{{ url_for('login_page') }}">Log in</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
{% endblock %}
{% block footer %}

{% endblock %}
